.title{
    font-size: 16px;
    font-family: 600;
    color: #212EA0;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title p{
    font-size: 32px;
    margin-top: 5px;
    color: #000F38;
    text-transform: none;
}